header, 
section,
aside, 
footer {
    background-color:#bada55;
    margin:0 2% 25px 2%;
    padding: 20 px
}

section{
    float: left;
    width: 50%
    
}

aside{
    float: right;
    width: 33%
    
}